.cards-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: unset;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin: -16px;
  }
  @media screen and (min-width: $desktop) {
    margin: -8px;
  }
}

.card {
  margin: 16px;
  flex-basis: calc(100% / 3 - 32px);

  @media screen and (min-width: $desktop) {
    margin: 8px;
  }
}
.card-image {
  width: 280px;
  max-height: 402px;
  margin-bottom: 10px;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    width: 336px;
    max-height: 455px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    width: 309px;
    max-height: 449px;
  }
}

.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: (16/12);

  text-transform: uppercase;

  color: #000000;
}
.card-genres {
  font-weight: 500;
  font-size: 12px;
  line-height: (16/12);
  color: #ff6b08;
}

// .card {
//   @media screen and (min-width: 768px) {
//     margin-right: 32px;
//     flex-basis: calc(100% / 3 - 32px);
//     @media screen and (max-width: 1023px) {
//       &:nth-child(even) {
//         margin-right: 0px;
//       }
//     }
//   }
//   @media screen and (min-width: 1024px) {
//     margin-right: 16px;
//     &:nth-child(3n -3) {
//       margin-right: 0px;
//     }
//   }
//   &:not(:nth-last-child(-n + 1)) {
//     @media screen and (max-width: 767px) {
//       margin-bottom: 20px;
//     }
//   }
//   &:not(:nth-last-child(-n + 2)) {
//     @media screen and (min-width: 768px) {
//       margin-bottom: 32px;
//     }
//   }
//   &:not(:nth-last-child(-n + 3)) {
//     @media screen and (min-width: 1024px) {
//       margin-bottom: 32px;
//     }
//   }
// }
