.card-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -17px;
  margin-bottom: -32px;

  // @media screen and (max-width: 1024px) {
  //   width: 1024px;
  // }
}

.card {
  margin-right: 17px;
  flex-basis: calc(100% / 3 - 17px);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.card-image {
  border-radius: 5px;
  max-width: 310px;
  max-height: 450px;
}
.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3em;

  text-transform: uppercase;

  color: #000000;
}
