.cards-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: unset;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin: -16px;
  }
  @media screen and (min-width: $desktop) {
    margin: -8px;
  }
}

.card {
  margin: 16px;
  flex-basis: calc(100% / 3 - 32px);

  @media screen and (min-width: $desktop) {
    margin: 8px;
  }
}
.card-image {
  width: 280px;
  height: 402px;
  margin-bottom: 10px;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 455px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    width: 309px;
    height: 449px;
    margin-bottom: 0;
  }
}
.card-body {
  @media screen and (min-width: $desktop) {
    padding-top: 8px;
  }
}

.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  text-transform: uppercase;

  color: #000000;
}
.card-genres {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #ff6b08;
}
.card-button-slider {
  position: relative;
  overflow: hidden;
}
.card {
  &:not(.in-watched or .in-queue) {
    .card-button {
      width: 112px;
      height: 38px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      background: none;
      border: 1px solid #fff;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      line-height: 1.33;
      display: flex;
    }
  }
  &.in-watched {
    button.card-button.in-watched {
      background: #ff6b01;
      border: none;
    }
  }
  &.in-queue {
    button.card-button.in-queue {
      background: #ff6b01;
      border: none;
    }
  }
}
.card-button:last-child {
  margin-left: 17px;
}

@media screen and (min-width: $desktop) {
  .card-link:hover .card-button-background,
  .card-link:focus .card-button-background {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // display: none;
  }
}

.card-button-background {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 309px;
    height: 66px;
    top: 383px;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 0px 0px 4px 4px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
}
.card-label-wrapper {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    position: relative;
  }
}
.card {
  &:not(.in-watched) {
    .card-label-in-watched {
      display: none;
    }
  }
  &:not(.in-queue) {
    .card-label-in-queue {
      display: none;
    }
  }

  &.in-watched {
    .card-label-in-watched {
      &::before {
        content: 'W';
      }
      position: absolute;
      padding: 7px 9px 11px 9px;
      width: 29px;
      height: 34px;
      left: 270px;
      color: #fff;
      font-family: 'Roboto';

      line-height: 16px;
      background-image: url('../images/icons/card-label-watched.svg');
    }
  }
  &.in-queue {
    .card-label-in-queue {
      &::before {
        content: 'Q';
      }
      position: absolute;
      padding: 7px 9px 11px 9px;
      width: 29px;
      height: 34px;
      left: 270px;
      color: #fff;
      font-family: 'Roboto';

      line-height: 16px;
      background-image: url('../images/icons/card-label-queue.svg');
    }
  }
}

// .card {
//   @media screen and (min-width: 768px) {
//     margin-right: 32px;
//     flex-basis: calc(100% / 3 - 32px);
//     @media screen and (max-width: 1023px) {
//       &:nth-child(even) {
//         margin-right: 0px;
//       }
//     }
//   }
//   @media screen and (min-width: 1024px) {
//     margin-right: 16px;
//     &:nth-child(3n -3) {
//       margin-right: 0px;
//     }
//   }
//   &:not(:nth-last-child(-n + 1)) {
//     @media screen and (max-width: 767px) {
//       margin-bottom: 20px;
//     }
//   }
//   &:not(:nth-last-child(-n + 2)) {
//     @media screen and (min-width: 768px) {
//       margin-bottom: 32px;
//     }
//   }
//   &:not(:nth-last-child(-n + 3)) {
//     @media screen and (min-width: 1024px) {
//       margin-bottom: 32px;
//     }
//   }
// }
