body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: grid;
  min-height: 100vh;
  grid-template: auto 1fr auto/ 1fr;
  overflow-x: hidden;
  &.overflow-hidden {
    overflow-y: hidden;
  }
}

body.modal-open .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow: hidden;
}

.container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1024px;
  }
}

.container-position {
  height: 100%;
}

.main {
  width: 100%;
  position: relative;
}
