body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1024px;
  }
}
