.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F7F7F7;
    text-align: center;
}

.footer__text{
    font-size: 14px;
    line-height:1.14;
    color: #545454;

    @media screen and (min-width: $tablet){
    font-size: 16px;
    line-height: 1.19px;
    }
}

.footer__button-about-us{
    padding: 0;
    border: none;
    border-bottom: 1px solid #545454;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.footer__text--second-part{
    display: block;
    margin-top: 10px;

    @media screen and (min-width: $tablet) {
    display: inline;
    margin-top:0;
    }
}

.footer__icon-heart{
    margin-right: 5px;
    margin-left: 5px;
}



