.header {
  position: relative;
  margin-bottom: 60px;
  height: 230px;
  max-width: 1024px;

  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 321px) {
    height: 219px;
  }

  @media screen and (min-width: 769px) {
    height: 216px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bgc {
  @media screen and (min-width: 1024px) {
    background-color: black;
    width: 100vw;
  }
}

.header.header-search .library-box {
  display: none;
}
.header.header-search .nav-home {
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 45px;

    width: 100%;
    height: 3px;
    background: #ff6b08;
  }
}

.header.header-library .search {
  display: none;
}
.header.header-library .nav-library {
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 45px;

    width: 100%;
    height: 3px;
    background: #ff6b08;
  }
}
