.hero-container {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 216px;
  margin-bottom: 60px;
  position: relative;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
}
