.library-box {
  display: flex;
  margin: 0 auto;
}

.library-btn {
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1.33;
  transition: background-color var(--transition-params),
    border var(--transition-params);
  @media screen and(min-width: $tablet) {
    width: 152px;
  }
  @media screen and(min-width: $desktop) {
    width: 147px;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  @media screen and(min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  @media screen and(min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
    border: 1px solid transparent;
  }
}

.accent-btn {
  background: var(--accent-color);
  border: 1px solid transparent;
}

// ---------------------- cards content sorting -----------------//
.empty-library,
.empty-main-library {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url(../images/placeholder-empty-library.png);
  background-position: 50% 100%;
  background-size: 70%;
  background-repeat: no-repeat;
  // text-align: center;
  @media screen and(min-width: $tablet) {
    background-size: 50%;
  }
  @media screen and(min-width: $desktop) {
    background-size: 38%;
  }
  & .cards-box {
    display: none;
  }
}

.empty-main-library::before {
  content: 'Oops, something going wrong.\A Change your request. \AOr refresh page.';
  white-space: pre;
  color: var(--light-title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.33;
  max-width: 320px;
  @media screen and(min-width: $tablet) {
    content: 'Oops, something going wrong.\A Change your request or refresh page.';
    font-size: 25px;
  }
}

.empty-library::before {
  content: "Oops, there are no movies.\A Let's add some movies. \APress GO TO MOVIES";
  color: var(--light-title-color);
  white-space: pre;
  // display: flex;
  // align-items: center;
  // background-image: url(../images/pngwing.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  // width: 280px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.33;
  @media screen and(min-width: $tablet) {
    font-size: 25px;
  }
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.container:not(.empty-library) {
  .empty-library-btn {
    display: none;
  }
}

.empty-library-btn:first-child {
  margin-top: 20px;
  margin-right: 0;
}
