.library-box {
  display: flex;
  margin: 0 auto;
}
.library-btn {
  width: 130px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;

  line-height: 1.33;

  transition: background-color var(--transition-params),
    border var(--transition-params);

  @media screen and(min-width: $tablet) {
    width: 152px;
  }
  @media screen and(min-width: $desktop) {
    width: 147px;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  @media screen and(min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  @media screen and(min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
    border: 1px solid transparent;
  }
}
.accent-btn {
  background: var(--accent-color);
  border: none;
}
