.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  padding: 40px 0;

  color: #ffffff;
}
.logo-icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  margin-right: 10px;
}
