.open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  // z-index: 1;
}

.movie-window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // width: 90%;
  width: 280px;

  height: auto;
  background-color: #fff;

  @media screen and(min-width: $tablet) {
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: $desktop) {
    width: 816px;
    height: 558px;
  }
}
.movie-picture {
  width: 240px;
  height: 357px;
  @media screen and(min-width:$tablet) {
    width: 264px;
    height: 373px;
  }
  @media screen and(min-width:$desktop) {
    width: 375px;
    height: 478px;
  }
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.icon-close {
  width: 18px;
  height: 30px;
  fill: red;
}

.movie-modal {
  //   todo here needs grid
  display: flex;
  flex-direction: column;
  padding: 48px 20px 40px 20px;
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  & img {
    width: 100%;
    grid-column: 1/3;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
.info-container {
  grid-column: 4/3;
  // margin-left: 16px;
  // margin-right: 8px;
}

.movie-title {
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto;

  line-height: calc(23 / 20);
  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }
  margin-bottom: 20px;
  color: #000000;
  line-height: 1.16;
}
.movie-list-title {
  // display: flex;
  // flex-direction: column;
  // margin-bottom: 30px;
}
.movie-list-data {
  margin-left: 39px;
}
.movie-head-info {
  display: flex;
  margin-bottom: 20px;
}
.movie-items {
  display: flex;
  font-family: Roboto;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.movie-description {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #8c8c8c;
}
.vote-box {
  display: flex;
  align-items: center;
  line-height: 14px;
}
.property {
  &-vote {
    width: 36px;
    height: 16px;
    background-color: #ff6b01;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    color: #ffffff;
    &-alt {
      color: #000000;
      background-color: #f7f7f7;
    }
  }
  &-rang,
  &-genre {
    line-height: 16px;
  }
}

.article {
  margin-bottom: 20px;
}
.article-caption {
  font-family: Roboto;
  margin-bottom: 8px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.article-text {
  max-height: 236px;
  line-height: calc(20 / 12);
  font-family: Roboto;
  overflow: scroll;
  color: #000000;
}

.button-box {
  display: flex;
  font-family: Roboto;
}
.movie-button {
  width: 136px;
  height: 44px;
  padding: 14px 8px 12px;
  border-radius: 5px;
  line-height: 1.33;
  text-transform: uppercase;
  font-weight: 500;
}
.primary-btn {
  display: flex;
  align-items: center;
  background-color: #ff6b01;
  color: #fff;
  border: none;
  margin-right: 15px;

  color: #ffffff;
}
.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  color: #000000;
}
