.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    transition: opacity var(--transition-params), visibility var(--transition-params);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.8s ease 0s;
    overflow-y: auto;
    overflow-x: hidden;

    // &.is-hidden .our-team__modal{
    //         transform: translate(-50%, -50%) scale(0.1);
    //     }
}

.our-team__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: calc(100vw - 40px);
    max-width: 375px;
    height: calc(100vh - 60px);
    padding: 40px 20px;

    border: 2px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url('../images/team-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    transition: transform --transition-params, opacity --transition-params;

    @media screen and (min-width: $tablet) {
        height: 550px;
        width: 700px;
        padding: 40px 35px;
        max-width: none;
    }

    @media screen and (min-width: $desktop) {
        height: 560px;
        width: 815px;
        padding: 40px 15px;
    }
}

.our-team__title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-text-color);
    font-size: 36px;
    line-height: 1.14;
    text-transform: uppercase;
}

.our-team__modal-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    color: var(--secondary-text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color var(--transition-params);

    &:hover {
        color: var(--accent-color);
    }
}

.close-icon {
    fill: currentColor;
    width: 14px;
    height: 14px;
}

.team-members-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content;
    row-gap: 20px;

    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 80px);
    padding: 20px;


    @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
    }
}

.team-members-container::-webkit-scrollbar {
    width: 1px;
}

.team-members-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid var(--helpers-text-color);
}

.team-member {
    position: relative;
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 4px;
}

.team-member__img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.team-member__img-container>img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.team-member__text-container {
    padding: 20px 15px;
    text-align: center;
}

.team-member__name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.14;
}

.team-member__link {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.14;
    color: var(--accent-color);
}


.team-member__role {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.14;
    color: var(--helpers-text-color);
    text-transform: uppercase;
}

.logo-position-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.command-logo-container{
    @media screen and (min-width: $tablet){
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 30px;
        bottom: 5px;
        right: 5px;
    }
}

.team-logo{
    @media screen and (min-width: $tablet) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // opacity: 90%;
       
    }
}