.open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  @media screen and(min-width: $tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }
  width: 100vw;
  height: 100vh;
  background: var(--overlay-color);
  // z-index: 1;
}

body.modal-open {
  overflow: hidden;
}
.modal-window {
  position: absolute;
  top: 20px;
  left: 50%;
  bottom: 38px;
  transform: translateX(-50%);
  overflow: auto;
  // width: 90%;
  width: 280px;
  height: auto;
  // height: 100vh;
  background-color: var(--main-bg-color);

  @media screen and(min-width: $tablet) {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: $desktop) {
    width: 814px;
    height: 558px;
  }
}
.close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 14px;
  height: 14px;
  padding: 0;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--transition-params);

  &:hover {
    color: var(--accent-color);
  }
}
.close-icon {
  fill: currentColor;
  width: 14px;
  height: 14px;
}