.our-team__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100vw - 40px);
  max-width: 375px;
  height: calc(100vh - 60px);
  padding: 40px 20px;
  background-color: var(--main-bg-color);
  // background-image: linear-gradient(rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url('../images/team-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform --transition-params, opacity --transition-params;
  @media screen and (min-width: $tablet) {
    height: 550px;
    width: 700px;
    padding: 40px 35px;
    max-width: none;
  }
  @media screen and (min-width: $desktop) {
    height: 560px;
    width: 815px;
    padding: 40px 15px;
  }
}

.our-team__title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--helpers-text-color);
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 500;
}

.our-team__modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--transition-params);
  &:hover {
    color: var(--accent-color);
  }
}

.close-icon {
  fill: currentColor;
  width: 14px;
  height: 14px;
}

.team-members-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content;
  row-gap: 20px;
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - 80px);
  padding: 20px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.2)
    ),
    url('../images/team-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(47, 48, 58, 0.2);
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(4, 22%);
    column-gap: 15px;
    justify-content: center;
  }
}

.team-members-container::-webkit-scrollbar {
  width: 1px;
}

.team-members-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 1px solid var(--helpers-text-color);
}

.team-member {
  padding: 10px 20px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  display: grid;
  grid-template: 1.3fr 0.7fr/1fr;
  @media screen and (min-width: $tablet) {
    grid-template: 50% 50%/1fr;
  }
}

.team-member__img-container {
  border-radius: 4px;
  overflow: hidden;
}

.team-member__img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.team-member__text-container {
  padding: 10px 0 5px 0;
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template: 40% auto auto/ 1fr;
  }
}

.team-member__name {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.14;
  text-align: center;
  color: var(--secondary-text-color);
  @media screen and (min-width: $tablet) {
    align-self: center;
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.team-member__link {
  display: block;
  text-align: center;
  @media screen and (min-width: $tablet) {
    align-self: flex-end;
    font-size: 10px;
  }
}

.team-member__role {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--modal-team-role-color);
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $tablet) {
    margin-bottom: 5px;
    align-self: flex-end;
    font-size: 10px;
  }
}

.team-member-icon {
  fill: var(--modal-team-member-icon);
  width: 40px;
  height: 40px;
  @media screen and (min-width: $tablet) {
    width: 22px;
    height: 22px;
    transition: transform var(--transition-param), fill var(--transition-param);
  }
}

.team-member-icon:hover {
  @media screen and (min-width: $tablet) {
    transform: scale(1.15);
    fill: var(--accent-color);
  }
}

.team-member--logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member--logo-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.team-member--logo {
  width: 100%;
  height: 100%;
}
