.modal-content {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 40px 20px;
  @media screen and (min-width: $tablet) {
    flex-direction: unset;
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width: $desktop) {
    padding: 40px 16px;
  }
}

.movie-picture-box {
  display: flex;
  min-width: 240px;
  height: 357px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    min-width: 264px;
    height: 373px;
    margin-right: 68px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    min-width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.movie-picture {
  width: 100%;
  object-fit: cover;
}

.info-container {
  visibility: inherit; //just a placeholder
}

.movie-title {
  margin-bottom: 20px;
  color: var(--light-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}

.movie-list {
  margin-bottom: 20px;
}

.movie-item {
  display: flex;
}

.movie-description {
  display: block;
  width: 118px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--helpers-text-color);
  @media screen and (min-width: $desktop) {
    width: 152px;
  }
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.property {
  display: block;
  width: 100%;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &#genre {
    text-transform: unset;
    #genre::first-letter {
      text-transform: uppercase;
    }
  }
}

.vote-box {
  display: flex;
}

.property-vote {
  width: 36px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  margin-right: 2px;
  &:last-child {
    margin-left: 3px;
    margin-right: 0;
  }
}

.vote-slash {
  color: var(--helpers-text-color);
}

.property-accent {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.article {
  margin-bottom: 20px;
}

.article-caption {
  margin-bottom: 8px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.article-text {
  line-height: calc(20 / 12);
  color: var(--secondary-text-color);
  @media screen and (min-width: $tablet) {
    overflow: auto;
    max-height: 160px;
  }
  @media screen and (min-width: $desktop) {
    max-height: 160px;
  }
}

.button-box {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $desktop) {
    justify-content: unset;
  }
}

.movie-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: color var(--transition-params),
    background-color var(--transition-params), border var(--transition-params);
  &:hover,
  &:focus {
    // background-color: var(--accent-color);
    // color: var(--main-text-color);
    border: 3px solid var(--accent-color);
  }
}

.movie-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  transition: color var(--transition-params),
    background-color var(--transition-params), border var(--transition-params);

  &:hover,
  &:focus {
    // background-color: var(--accent-color);
    // color: var(--main-text-color);
    border: 3px solid var(--accent-color);
  }
  @media screen and (min-width: $tablet) {
    width: 125px;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
    margin-left: 8px;
    &:last-child {
      margin-left: 15px;
    }
  }
}

.watched-btn {
  &::before {
    content: 'add to watched';
    position: absolute;
  }
  &::after {
    top: 0;
  }
}

.queue-btn {
  &::before {
    content: 'add to queue';
    position: absolute;
  }
  &::after {
    top: 0;
  }
}

.active-btn {
  position: relative;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  border: 1px solid transparent;
  &.watched-btn::after {
    content: 'delete from watched';
    position: absolute;
    top: 7px;
  }
  &.queue-btn::after {
    content: 'delete from queue';
    position: absolute;
    top: 7px;
    @media screen and (min-width: $tablet) {
      top: 14px;
    }
  }
  &.watched-btn::before,
  &.queue-btn::before {
    top: -20px;
  }
}
