.open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  // z-index: 1;
}

.movie-window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // width: 90%;
  width: 280px;

  height: auto;
  background-color: #fff;

  @media screen and(min-width: $tablet) {
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: $desktop) {
    width: 816px;
    height: 558px;
  }
}

.movie-modal {
  display: flex;
  @media screen and (min-width: $tablet) {
    padding: 40px 36px;
  }
  @media screen and (min-width: $desktop) {
    padding: 40px 16px;
  }
}

.movie-picture-box {
  min-width: 240px;
  height: 357px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and(min-width:$tablet) {
    min-width: 264px;
    height: 373px;
    margin-right: 68px;
  }
  @media screen and(min-width:$desktop) {
    min-width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}
.movie-picture {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    color: #ff6b01;
  }
}
.close-icon {
  fill: currentColor;
  width: 14px;
  height: 14px;
}
.info-container {
  @media screen and(min-width: $tablet) {
    margin-right: 36px;
  }
}
.movie-title {
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto;

  line-height: calc(23 / 20);
  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }
  margin-bottom: 20px;
  color: #000000;
  line-height: 1.16;
}
.movie-list-title {
  // display: flex;
  // flex-direction: column;
  // margin-bottom: 30px;
}
.movie-list-data {
  margin-left: 39px;
}
.movie-head-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.movie-items.item-right {
  width: 155px;
}
.description-box {
  display: flex;
  flex-direction: column;
}
.movie-description {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #8c8c8c;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.property-box {
  display: flex;
  flex-direction: column;
}
.property {
  line-height: calc(14 / 12);
  text-transform: uppercase;

  color: #000000;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.vote-box {
  display: flex;
}
.property-vote {
  width: 36px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
  background-color: #f7f7f7;
  border-radius: 5px;
  line-height: 1.16;
  text-transform: uppercase;
  margin-right: 2px;
  &:last-child {
    margin-left: 3px;
    margin-right: 0;
  }
}
.vote-slash {
  color: #8c8c8c;
}

.property-accent {
  background-color: #ff6b01;
  color: #ffffff;
}
.article {
  margin-bottom: 20px;
}
.article-caption {
  font-family: Roboto;
  margin-bottom: 8px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.article-text {
  overflow: auto;
  max-height: 200px;
  line-height: 1.67;

  color: #000000;
}

.button-box {
  display: flex;
  font-family: Roboto;
}
.movie-button {
  width: 136px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;

  &:not(:last-child) {
    margin-right: 15px;
  }
}
.primary-btn {
  display: flex;
  align-items: center;
  background-color: #ff6b01;
  color: #fff;
  border: none;
}
