.nav{
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
 width: 142px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17em;
  text-transform: uppercase;

  color: #ffffff;

  &--current-page::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -3px;

    width: 100%;
    height: 3px;
    background: #ff6b08;
  }
}
