body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: 0;
  // border: 1px solid red;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  padding-left: 32px;
  padding-right: 32px;
}