.pagination {
  display: flex;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  width: 280px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    width: 374px;
    margin-bottom: 60px;
  }
}
.pagination-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagination-button {
  display: flex;
  align-items: center;
  width: 40px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
}
.pagination-item {
  display: flex;
  align-items: center;
  margin: 0;
  &:hover a.pagination-link {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    border-radius: 5px;
    transition: background-color var(--transition-params);
    cursor: pointer;
  }
  &.current {
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    color: var(--main-text-color);
    background-color: var(--accent-color);
    border-radius: 5px;
    & a.pagination-link {
      color: var(--main-text-color);
    }
  }
}
.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  width: 32px;
  height: 32px;
  font-family: 'Roboto';
}

.pagination.pagination_top {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
  }
}
