.container-position {
  position: relative;
}

// ----------------------------- Dark and Light theme
.dark-theme {
  background: var(--bg-dark-theme);
  transition: background 0.3s linear;
  --secondary-text-color: #fff;
  --secondary-bg-color: rgb(27, 25, 25);
  --ft-text-color: #fff;
  --main-bg-color: var(--bg-dark-theme);
  --light-title-color: #fff;
  --helpers-text-color: #fff;
  --modal-team-member-icon: #fff;
}

.light-theme {
  background: var(--light-theme);
  transition: background 0.3s linear;
}

// ------------------------------Dark theme box
.dark-theme-box {
  position: absolute;
  bottom: 30px;
  right: 18px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    position: absolute;
    bottom: 30px;
    right: 25px;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    bottom: 30px;
    right: 25px;
  }
}

.dark-theme-box input {
  position: absolute;
  left: -100000px;
}

.dark-theme-box label {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 45px;
  height: 20px;
  border-radius: 40px;
  position: relative;
  background-color: orange;
}

.dark-theme-box label::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: white;
  top: 3px;
  left: 3px;
}

.dark-theme-box input:checked + label {
  background: grey;
}

.dark-theme-box input:checked + label::before {
  left: 28px;
}

.sun-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.moon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
