:root {
    --main-text-color: #fff;
    --secondary-text-color: #000;
    --helpers-text-color: #8C8C8C;
    --accent-color: #FF6B01;
    --warning-text-color: #FF001B;
    --ft-text-color: #545454;
    --main-bg-color: #fff;
    --secondary-bg-color: #F7F7F7;
    --helpers-bg-color: #000;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --btn-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    --bg-dark-theme: #292c35;
    --light-title-color: #000;
    --transition-params: 250ms ease-out;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;