@import './var';
@import './normalize';
@import './common';
@import './header';
@import './auth';
@import './modal';
@import './modal-movie';
@import './wrapper';
@import './search';
@import './nav';
@import './logo';
@import './card';
@import './library';
@import './genres';
@import './utilits';
@import './pagination';
@import './footer';
@import './modal-our-team';
@import './loader';
@import './switch-theme';
@import './slider';
@import './scroll-to-top';
@import './cancelbtn';
