<footer class="footer">
  <div class="container">
    <p class="footer__text">
      &#169; 2022 | All Rights Reserved |
      <span class="footer__text--second-part"
        >Developed with
        <svg width="12" height="12" class="footer__icon-heart">
          <use href="./images/icons/heart.svg#icon-favorite"></use>
        </svg>
        <button
          type="button"
          class="footer__button-about-us"
          id="our-team"
          data-action="open-modal"
        >
          by GoIT Students
        </button>
      </span>
    </p>
  </div>
</footer>
