<header class="header">
  <div class="container">
    <div class="header-box">
      <a href="#" class="logo">
        <svg class="logo-icon">
          <use href="./images/icons/search.svg#logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-items">
            <a
              href=""
              class="nav-link nav-link--current-page nav-home"
              data-home
              >Home</a
            >
          </li>
          <li class="nav-items">
            <a href="" class="nav-link">My Library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="wrapper">
      <div class="search">
        <form class="movie-search" id="movie-search">
          <input
            type="text"
            class="search-input"
            name="query"
            autocomplete="off"
            placeholder="Search movie..."
          />
          <button type="submit" class="submit-btn">
            <svg class="search-icon">
              <use href="./images/icons/search.svg#search"></use>
            </svg>
          </button>
        </form>
        <div class="line"></div>
      </div>
      <div class="library-box is-hidden">
        <button type="button" class="library-btn btn-primary">watched</button>
        <button type="button" class="library-btn btn-secondary">queue</button>
      </div>
    </div>
  </div>
</header>
