<div class="hero-container">
  <section class="section hero-section">
    <div class="logo">
      <svg class="logo-icon">
        <use href="./images/icons/search.svg#logo"></use>
      </svg>
      <p>Filmoteka</p>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-items">
          <a href="" class="nav-link nav-link--current-page nav-home" data-home
            >Home</a
          >
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">My Library</a>
        </li>
      </ul>
    </nav>
  </section>
  <div class="search">
    <form class="movie-search" id="movie-search">
      <input
        type="text"
        class="search-input"
        name="query"
        autocomplete="off"
        placeholder="Search movie..."
      />
      <button type="submit" class="submit-btn">
        <svg class="search-icon">
          <use href="./images/icons/search.svg#search"></use>
        </svg>
      </button>
    </form>
    <div class="line"></div>
  </div>
</div>
