<div class="our-team__backdrop js-modal is-hidden">
  <div class="our-team__modal">
    <button type="button" data-action="close" class="our-team__modal-button">
      x
    </button>
    <h2 class="our-team__title">Our Team</h2>
    <div class="team-members-container">
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Team Lead</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Scrum Master</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div>
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  const modal = document.querySelector('.js-modal');
  const closeBtn = document.querySelector('[data-action="close"]');
  closeBtn.addEventListener('click', () => modal.classList.add('is-hidden'));
</script> -->
