<div class="our-team__backdrop js-modal is-hidden">
  <div class="our-team__modal">
    <button type="button" data-action="close" class="close-btn">
      <svg class="close-icon">
        <use href="./images/icons/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="logo-position-wrapper">
      <h2 class="our-team__title">Our Team</h2>
      <!-- <div class="command-logo-container">
        <img
          class="team-logo"
          src="./images/command_name.png"
          alt="command logo"
          width="80"
          height="80"
        />
      </div> -->
    </div>
    <div class="team-members-container">
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/illya_bondar.jpg"
            alt="Illya Bondar"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Illya Bondar</p>
          <p class="team-member__role">Team Lead</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/alexandra_sabatin.jpg"
            alt="Alexandra Sabatin"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Alexandra Sabatin</p>
          <p class="team-member__role">Scrum Master</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/yevhen_lipynskyi.jpg"
            alt="Yevhen Lipynskyi"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Yevhen Lipynskyi</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/oleksii_borshch.jpg"
            alt="Oleksii Borshch"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Oleksii Borshch</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/anna_lahoda.jpg"
            alt="Anna Lahoda"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Anna Lahoda</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/sergii_proiava.png"
            alt="Sergii Proiava"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Sergii Proiava</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/yauheni_kaspiarovich.jpg"
            alt="Yauheni Kaspiarovich"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Yauheni Kaspiarovich</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/serhii_kravchenko.jpg"
            alt="Serhii Kravchenko"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Serhii Kravchenko</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/cat.png"
            alt="team-member"
            width="150"
            height="150"
          />
          <!-- <div class="command-logo-container">
            <img
              class="team-logo"
              src="./images/command_name.png"
              alt="command logo"
              width="80"
              height="80"
            />
          </div> -->
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Name Surname</p>
          <p class="team-member__role">Front End Developer</p>
          <a href="#" class="team-member__link">link to GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  const modal = document.querySelector('.js-modal');
  const closeBtn = document.querySelector('[data-action="close"]');
  closeBtn.addEventListener('click', () => modal.classList.add('is-hidden'));
</script> -->
