<div class="our-team__backdrop backdrop js-backdrop">
  <div class="our-team__modal modal is-hidden js-team-modal">
    <button
      type="button"
      data-action="close-modal"
      class="our-team__modal-button"
    >
      <svg class="close-icon">
        <use href="./images/icons/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="logo-position-wrapper">
      <h2 class="our-team__title">Our Team</h2>
    </div>
    <div class="team-members-container">
      <div class="team-member team-member--logo-container">
        <div class="team-member--logo-wrapper">
          <img
            src="./images/command_name.png"
            alt="Command logo"
            width="120"
            height="120"
            class="team-member--logo"
          />
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/illya_bondar.jpg"
            alt="Illya Bondar"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Illya Bondar</p>
          <p class="team-member__role">Team Lead</p>
          <a
            href="https://github.com/sigizmunde"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/alexandra_sabatin.jpg"
            alt="Alexandra Sabatin"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Alexandra Sabatin</p>
          <p class="team-member__role">Scrum Master</p>
          <a
            href="https://github.com/alestrella"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/yevhen_lipynskyi.jpg"
            alt="Yevhen Lipynskyi"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Yevhen Lipynskyi</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/ShenyaLipinsky"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/oleksii_borshch.jpg"
            alt="Oleksii Borshch"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Oleksii Borshch</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/Sergeevi44"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/anna_lahoda.jpg"
            alt="Anna Lahoda"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Anna Lahoda</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/LagodaAnna"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/sergii_proiava.png"
            alt="Sergii Proiava"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Sergii Proiava</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/SeregikPro"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/yauheni_kaspiarovich.jpg"
            alt="Yauheni Kaspiarovich"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Yauheni Kaspiarovich</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/Yauheni2021"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/serhii_kravchenko.jpg"
            alt="Serhii Kravchenko"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Serhii Kravchenko</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/Serhii1727"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/olena_bondiuchna.jpg"
            alt="Olena Bondiuchna"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Olena Bondiuchna</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/elenbond"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/shan_abdullaev.jpg"
            alt="Shan Abdullaev"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Shan Abdullaev</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/Shan-Vision"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member__img-container">
          <img
            src="./images/team-photo/andrew_belinskiy.jpg"
            alt="Andrew Belinskiy"
            width="120"
            height="120"
          />
        </div>
        <div class="team-member__text-container">
          <p class="team-member__name">Andrew Belinskiy</p>
          <p class="team-member__role">Front End Developer</p>
          <a
            href="https://github.com/belinskiy-and"
            target="_blank"
            noreferrer
            noopener
            class="team-member__link"
            ><svg width="20" height="20" class="team-member-icon">
              <use href="./images/icons/git-hub.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
