<div class="movie-modal is-hidden" id="movie-info">
  <div class="modal-window">
    <button type="button" class="close-btn" data-close>
      <svg class="close-icon">
        <use href="./images/icons/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <!--  <div class="movie-picture-box">
        <img
          src="./images/modal-picture.jpg"
          alt="movie-picture"
          class="movie-picture"
        />
      </div>
      <div class="info-container">
        <h1 class="movie-title">A FISTFUL OF LEAD</h1>
        <ul class="movie-list">
          <li class="movie-items item-right">
            <div class="description-box">
              <p class="movie-description">Vote / Votes</p>
              <p class="movie-description">Popularity</p>
              <p class="movie-description">Original Title</p>
              <p class="movie-description">Genre</p>
            </div>
          </li>
          <li class="movie-items">
            <div class="property-box">
              <div class="vote-box property">
                <p class="property-vote property-accent" id="vote">7.3</p>
                <span class="vote-slash">/</span>
                <p class="property-vote property-vote-alt" id="votes">1260</p>
              </div>
              <p class="property" id="popularity">100.2</p>
              <p class="property" id="title">A FISTFUL OF LEAD</p>
              <p class="property" id="genre">Western</p>
            </div>
          </li>
        </ul>
        <article class="article">
          <p class="article-caption">About</p>
          <p class="article-text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how? Four of
            the West’s most infamous outlaws assemble to steal a huge stash of
            gold from the most corrupt settlement of the gold rush towns. But
            not all goes to plan one is killed and the other three escapes with
            bags of gold hide out in the abandoned gold mine where they happen
            across another gang of three – who themselves were planning to hit
            the very same bank! As tensions rise, things go from bad to worse as
            they realise the bags of gold are filled with lead... they’ve been
            double crossed – but by who and how?
          </p>
        </article>
        <div class="button-box">
          <button class="movie-button active-btn" id="btn-watched">add to watched</button>
          <button class="movie-button" id="btn-queue">add to queue</button>
        </div>
      </div> -->
    </div>
  </div>
</div>