<div class="modal is-hidden" id="movie-info">
  <div class="movie-window">
    <button type="button" class="close-btn" data-close>
      <svg class="icon-close">
        <use href="./images/icons/close.svg#close-icon"></use>
      </svg>
    </button>
    <div class="movie-modal">
      <img
        src="./images/modal-picture.jpg"
        alt="movie-picture"
        class="movie-picture"
      />
      <div class="info-container">
        <h2 class="movie-title">A FISTFUL OF LEAD</h2>
        <div class="movie-head-info">
          <ul class="movie-list-title">
            <li class="movie-items">
              <p class="movie-description">Vote / Votes</p>
            </li>
            <li class="movie-items">
              <p class="movie-description">Popularity</p>
            </li>
            <li class="movie-items">
              <p class="movie-description">Original Title</p>
            </li>
            <li class="movie-items">
              <p class="movie-description">Genre</p>
            </li>
          </ul>
          <ul class="movie-list-data">
            <li class="movie-items vote-box">
              <span class="property-vote">7.3</span>
              <span> / </span>
              <span class="property-vote property-vote-alt">1260</span>
            </li>
            <li class="movie-items property-rang">100.2</li>
            <li class="movie-items property-title">A FISTFUL OF LEAD</li>
            <li class="movie-items property-genre">Western</li>
          </ul>
        </div>
        <article class="article">
          <p class="article-caption">About</p>
          <p class="article-text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </article>
        <div class="button-box">
          <button class="movie-button primary-btn">add to Watched</button>
          <button class="movie-button secondary-btn">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
