<li class="card in-watched">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//7WsyChQLEftFiDOVTGkv3hFpyyt.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Avengers: Infinity War</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//to0spRl1CMDvyUbOnbb4fTk3VAd.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Deadpool 2</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-queue">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//adOzdWS35KAo21r9R4BuFCkLer6.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Upgrade</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//hKHZhUbIyUAjcSrqJThFGYIR6kI.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>To All the Boys I've Loved Before</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-watched">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//eXXpuW2xaq5Aen9N5prFlARVIvr.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Tag</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//c3cUb0b3qHlWaawbLRC9DSsJwEr.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Disenchantment</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-queue">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//aLbdKxgxuOPvs6CTlmzoOQ4Yg3j.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>American Animals</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//5lqJx0uNKrD1cEKgaqF1LBsLAoi.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Action Point</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//wErHaJrD1QZ2FEVneH6w0GZUz2L.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Down a Dark Hall</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//5gLDeADaETvwQlQow5szlyuhLbj.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Adrift</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img src="./images/modal-picture.jpg" class="card-image" alt="" />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Saving Private Ryan</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-watched">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//kZdncyp1IKhEqwv5zdmUpK5Dc7S.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Beast</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//AkJQpZp9WoNdj7pLYSj1L0RcMMN.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Mission: Impossible - Fallout</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-queue">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//fRCdXh9MZutj1JJPZlUXMex6AuB.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Big Fish & Begonia</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-watched">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//gwPSoYUHAKmdyVywgLpKKA4BjRr.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Game of Thrones</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Ready Player One</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card in-queue">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//2L8ehd95eSW9x7KINYtZmRkAlrZ.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Mile 22</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//gAEZitvNudXr9kphSd4XOlOkjPX.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Fear the Walking Dead</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//3zrC5tUiR35rTz9stuIxnU1nUS5.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>Tomb Raider</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
<li class="card">
  <a href="" class="card-link">
    <div class="card-button-slider">
      <img
        src="https://image.tmdb.org/t/p/w342//xqECHNvzbDL5I3iiOVUkVPJMSbc.jpg"
        class="card-image"
        alt=""
      />
      <div class="card-button-background">
        <button class="card-button in-watched">watched</button>
        <button class="card-button in-queue">queue</button>
      </div>
    </div>
    <div class="card-label-wrapper">
      <div class="card-label-in-watched"></div>
      <div class="card-label-in-queue"></div>
    </div>
    <div class="card-body">
      <p class="card-title"><b>The Meg</b></p>
      <p class="card-genres"><b>Genres..</b></p>
    </div>
  </a>
</li>
