<div class="pagination">
  <!--class -> on-empty-library -->
  <!-- <a class="pagination-button" id="btn-prev" href="#" title="Previous page">
    <svg class="pag-icon arrow-left" height="16">
      <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
    </svg>
  </a>
  <ul class="pagination-list">
    <li class="pagination-item" data-num="1">
      <a class="pagination-link" href="">1</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">...</a>
    </li>

    <li class="pagination-item">
      <a class="pagination-link" href="">13</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">14</a>
    </li>
    <li class="pagination-item current">
      <a class="pagination-link" href="">15</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">16</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">17</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">...</a>
    </li>

    <li class="pagination-item" data-num="20">
      <a class="pagination-link" href="">20</a>
    </li>
  </ul>
  <a class="pagination-button" id="btn-next" href="#" title="Next page">
    <svg class="pag-icon arrow-right" height="16">
      <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
    </svg>
  </a> -->
</div>
